h1{
    color: darkmagenta;  
    text-align: center;
    text-decoration: wavy underline;
    font-weight: lighter;
    text-transform: uppercase;
    /* whatever is written later on will have higher priority */
}

p{
    line-height: 20px;
    text-align: center;
}